openapi: 3.1.0
info:
  title: Google Cloud Migration Center Google Migration Center Assets API
  description: The Migration Center API provides programmatic access to Google Cloud Migration Center for discovering, assessing, and planning migrations of on-premises infrastructure to Google Cloud. It enables management of assets, groups, import jobs, discovery clients, preference sets, and export jobs to support automated migration planning workflows.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/migration-center/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://migrationcenter.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Assets
  description: Operations for managing discovered infrastructure assets
paths:
  /projects/{projectId}/locations/{location}/assets:
    get:
      operationId: listAssets
      summary: Google Cloud Migration Center List assets
      description: Lists all assets in the specified project and location.
      tags:
      - Assets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: The ID of the project
      - name: location
        in: path
        required: true
        schema:
          type: string
        description: The location of the assets
      - name: pageSize
        in: query
        schema:
          type: integer
        description: Maximum number of assets to return
      - name: pageToken
        in: query
        schema:
          type: string
        description: Page token for pagination
      - name: filter
        in: query
        schema:
          type: string
        description: Filter expression for assets
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAssetsResponse'
  /projects/{projectId}/locations/{location}/assets/{assetId}:
    get:
      operationId: getAsset
      summary: Google Cloud Migration Center Get an asset
      description: Gets the details of a single asset.
      tags:
      - Assets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
    patch:
      operationId: updateAsset
      summary: Google Cloud Migration Center Update an asset
      description: Updates the parameters of a single asset.
      tags:
      - Assets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      - name: updateMask
        in: query
        schema:
          type: string
        description: Field mask for partial update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Asset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
    delete:
      operationId: deleteAsset
      summary: Google Cloud Migration Center Delete an asset
      description: Deletes a single asset.
      tags:
      - Assets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: assetId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
components:
  schemas:
    Asset:
      type: object
      description: An asset represents a resource in a customer environment.
      properties:
        name:
          type: string
          description: Output only. The full resource name of the asset.
        createTime:
          type: string
          format: date-time
          description: Output only. The timestamp when the asset was created.
        updateTime:
          type: string
          format: date-time
          description: Output only. The timestamp when the asset was last updated.
        labels:
          type: object
          additionalProperties:
            type: string
          description: Labels applied to the asset.
        machineDetails:
          $ref: '#/components/schemas/MachineDetails'
        attributes:
          type: object
          additionalProperties:
            type: string
          description: Generic asset attributes.
    MachineDetails:
      type: object
      description: Details of a machine asset.
      properties:
        uuid:
          type: string
          description: Machine unique identifier.
        machineName:
          type: string
          description: Machine name.
        coreCount:
          type: integer
          description: Number of CPU cores.
        memoryMb:
          type: integer
          description: Memory size in megabytes.
        diskCount:
          type: integer
          description: Number of disks.
        totalDiskSizeGb:
          type: integer
          description: Total disk size in gigabytes.
        platform:
          type: string
          description: Platform information.
    ListAssetsResponse:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: Migration Center API Documentation
  url: https://cloud.google.com/migration-center/docs/reference/rest
