openapi: 3.1.0
info:
  title: Google Cloud Migration Center Google Migration Center Assets ImportJobs API
  description: The Migration Center API provides programmatic access to Google Cloud Migration Center for discovering, assessing, and planning migrations of on-premises infrastructure to Google Cloud. It enables management of assets, groups, import jobs, discovery clients, preference sets, and export jobs to support automated migration planning workflows.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/migration-center/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://migrationcenter.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: ImportJobs
  description: Operations for importing asset data from external sources
paths:
  /projects/{projectId}/locations/{location}/importJobs:
    get:
      operationId: listImportJobs
      summary: Google Cloud Migration Center List import jobs
      description: Lists all import jobs in the specified project and location.
      tags:
      - ImportJobs
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportJobsResponse'
    post:
      operationId: createImportJob
      summary: Google Cloud Migration Center Create an import job
      description: Creates a new import job.
      tags:
      - ImportJobs
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportJob'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    ListImportJobsResponse:
      type: object
      properties:
        importJobs:
          type: array
          items:
            $ref: '#/components/schemas/ImportJob'
        nextPageToken:
          type: string
    ImportJob:
      type: object
      description: An import job represents a data import operation.
      properties:
        name:
          type: string
          description: Output only. The full resource name.
        displayName:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - COMPLETED
          - FAILED
        labels:
          type: object
          additionalProperties:
            type: string
    Operation:
      type: object
      description: A long-running operation.
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: Migration Center API Documentation
  url: https://cloud.google.com/migration-center/docs/reference/rest
