openapi: 3.1.0
info:
  title: Google Cloud Migration Center Google Migration Center Assets PreferenceSets API
  description: The Migration Center API provides programmatic access to Google Cloud Migration Center for discovering, assessing, and planning migrations of on-premises infrastructure to Google Cloud. It enables management of assets, groups, import jobs, discovery clients, preference sets, and export jobs to support automated migration planning workflows.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/migration-center/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://migrationcenter.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: PreferenceSets
  description: Operations for managing migration preference configurations
paths:
  /projects/{projectId}/locations/{location}/preferenceSets:
    get:
      operationId: listPreferenceSets
      summary: Google Cloud Migration Center List preference sets
      description: Lists all preference sets in the specified project and location.
      tags:
      - PreferenceSets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPreferenceSetsResponse'
    post:
      operationId: createPreferenceSet
      summary: Google Cloud Migration Center Create a preference set
      description: Creates a new preference set for migration planning.
      tags:
      - PreferenceSets
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceSet'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    ListPreferenceSetsResponse:
      type: object
      properties:
        preferenceSets:
          type: array
          items:
            $ref: '#/components/schemas/PreferenceSet'
        nextPageToken:
          type: string
    PreferenceSet:
      type: object
      description: A set of preferences for migration planning.
      properties:
        name:
          type: string
        displayName:
          type: string
        description:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        virtualMachinePreferences:
          type: object
          description: Preferences for virtual machine migration targets.
          properties:
            targetProduct:
              type: string
              enum:
              - COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED
              - COMPUTE_ENGINE
              - VMWARE_ENGINE
              - SOLE_TENANCY
            commitmentPlan:
              type: string
              enum:
              - COMMITMENT_PLAN_UNSPECIFIED
              - NONE
              - ONE_YEAR
              - THREE_YEARS
            sizingOptimizationStrategy:
              type: string
              enum:
              - SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED
              - SAME_AS_SOURCE
              - MODERATE
              - AGGRESSIVE
    Operation:
      type: object
      description: A long-running operation.
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: Migration Center API Documentation
  url: https://cloud.google.com/migration-center/docs/reference/rest
