openapi: 3.1.0
info:
  title: Google Cloud Migration Center Google Migration Center Assets Groups API
  description: The Migration Center API provides programmatic access to Google Cloud Migration Center for discovering, assessing, and planning migrations of on-premises infrastructure to Google Cloud. It enables management of assets, groups, import jobs, discovery clients, preference sets, and export jobs to support automated migration planning workflows.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/migration-center/docs
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://migrationcenter.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: Groups
  description: Operations for organizing assets into groups
paths:
  /projects/{projectId}/locations/{location}/groups:
    get:
      operationId: listGroups
      summary: Google Cloud Migration Center List groups
      description: Lists all groups in the specified project and location.
      tags:
      - Groups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
      - name: pageToken
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGroupsResponse'
    post:
      operationId: createGroup
      summary: Google Cloud Migration Center Create a group
      description: Creates a new group in the specified project and location.
      tags:
      - Groups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: groupId
        in: query
        schema:
          type: string
        description: The ID to use for the group
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Group'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    Group:
      type: object
      description: A group organizes a collection of assets for migration planning.
      properties:
        name:
          type: string
          description: Output only. The full resource name.
        displayName:
          type: string
          description: User-friendly display name.
        description:
          type: string
          description: Description of the group.
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        labels:
          type: object
          additionalProperties:
            type: string
    ListGroupsResponse:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
        nextPageToken:
          type: string
    Operation:
      type: object
      description: A long-running operation.
      properties:
        name:
          type: string
        done:
          type: boolean
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: Migration Center API Documentation
  url: https://cloud.google.com/migration-center/docs/reference/rest
